/*   
Theme Name: Attractor
Theme URI: http://atrctr.com
Description: Minimalistic theme for atrctr.com
Author: Casper Kowalczyk
Author URI: http://atrctr.com
Version: 0.5

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) 
License URI: http://creativecommons.org/licenses/by-sa/3.0/
*/

/*** WordPress Core *********/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 10px 4px 5px 5px;
}

blockquote {
     background:#f9f9f9;
     border-left:10px solid #ccc;
     margin:1.5em 10px;
     padding:.5em 10px;
     /* quotes:"\201C""\201D""\2018""\2019"; */
}

blockquote:before {
     color:#ccc;
     /* content:open-quote; */
     font-size:4em;
     line-height:.1em;
     margin-right:.25em;
     vertical-align:-.4em;
}

blockquote p {
     display:inline;
}

table {
background: #fff;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #ddd;
margin:auto;
}

table thead, table tfoot {background: #f5f5f5;}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {font-size: 1em; line-height: 1.2em; text-align: left;}
table thead tr th,
table tfoot tr td {padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #222;}
table thead tr th:first-child, table tfoot tr td:first-child {border-left: none;}
table thead tr th:last-child, table tfoot tr td:last-child {border-right: none;}

table tbody tr.even,
table tbody tr.alt {background: #f9f9f9;}
table tbody tr:nth-child(even) {background: #f9f9f9;}
table tbody tr td {color: #333; padding: 9px 10px; vertical-align: top; border: none;}
/*
ol{padding: 0.5em 0em 1em 3.2em;}
li{line-height: 1.2em; padding: 6px 0 0 0;}

ul{padding: 0.5em 0em 1em 3.2em;}
li{line-height: 1.2em; padding: 6px 0 0 0;}
*/

/*** TYPOGRAPHY *****************/

h1 {margin:.5rem 0 1rem; font-weight:400;}
h2,h3,h4,h5,h6 {margin:1em 0 0.2em; font-weight:500 !important}

h1 {font-size: 4rem;font-weight:400}
h2 {font-size: 2rem; color: #222;}
h3 {font-size: 1.5rem; color: #333;}
h4 {font-size: 1.2rem; color: #444;}
h5 {font-size: 1.0rem; color: #555;}
h6 {font-size: 1.0rem; color: #555; font-style:italic;}

p {margin:0; text-indent: 0px; color:#111;}

strong{ font-weight: bold; color: #444;}
small {font-size:0.7em;}

ins {background:#ffffff; text-decoration: none;}

a {text-decoration: none; transition:0.25s}
a {color: #444; text-decoration: none;}
a:hover {color: #cc0000; text-decoration: none;}

ul#postlist, ul.hlist {list-style:none;  }
ul.hlist li {margin:0; padding:0; display:inline; margin-right:0.5em;}
    
/* Fonts */
body, .excerpt {font-family: 'Noto Serif', Times, serif; font-weight:400; }
header, nav,h1,h2,h3,h4,h5,h6, .infobox, .post-card .label, footer {font-family: Montserrat, Gotham, Helvetica, Arial, sans-serif;}
header, nav,h1,h2,h3,h4,h5,h6, .infobox, footer { text-transform:uppercase;}

code {font-family: Courier, monospace;}

/*** LAYOUT *****************/

body { background: #fcfcfc; color: #000; min-height:100%; text-align: center; font-size: 18px;}

#container {
margin:0 auto;
height:100%;
max-width: 40rem;
padding: 1em;
text-align: left;
}

header {margin:1rem 0 0 0;text-align:center;}
#blog-title {color:#cc0000;font-size:2em;font-weight:400;}
#blog-tagline {font-weight:500;}

nav { background:none; border:solid #999; border-width:1px 0;margin:1em 0;}
nav ul {margin: 0; padding: none; list-style-type: none; list-style-image: none; }
nav li {display:inline-block;white-space:nowrap;}
nav a {display:inline-block;padding:0.5em 0;margin:0 0.5em;font-weight:500;text-transform:uppercase;}

#content { max-width:40rem;}

article {margin: 0 auto; width:100%; overflow-wrap:break-word; hyphens:auto;}

article p, article ul, article ol{margin:0.5rem auto;line-height: 1.5em;}
article a:link, article a:visited { text-decoration: underline; /* border-bottom: 1px solid #ccc; */}
article ul, article ol {list-style-position:outside; margin-left:1.5rem}
article ul {list-style-type:square;}
article ol {list-style-type:decimal;}
article img {	display: block;	width:100%; max-width:50rem; 	height: auto;}

.featured-img {
	padding:10rem 0;
	background-size:cover;
}
.featured-img>h1 {
	padding:.5rem; margin:1rem; font-weight:400; 
	color:#fff; background:rgba(0,0,0,0.75); text-align:center;
}

.infobox {display:block;text-transform:uppercase; background:#eee ;padding:.5rem; font-size:0.8em;font-weight:500;}
.infobox.hlist {margin:0;}

#postlist {margin:0; padding:0;}
#postlist a {text-decoration:none;}

#widget-area {}

a.post-card {display:block; background:#eee; padding:0.5rem; margin-bottom:1rem; color:#666}
.post-card:hover { background:#ddd;}
.post-card:hover {}
.post-card .label {display:block; text-align:center; height:100%;}
.post-card .title {margin:0; font-weight:500; padding-bottom:.2rem;}
.post-card .info {text-transform:uppercase;font-size:.8rem;font-weight:500;}
.post-card .excerpt {text-align:left; font-size:1rem; text-align:justify;  }
.post-card-image {min-height:10rem; }
.post-card-image * {color:#fff;}
.post-card-image .label {background:rgba(0,0,0,0.5); padding:.5rem; margin:7rem auto 0; max-width:25rem}
.post-card-image .excerpt {display:none; }
.post-card-text {padding:1rem 1rem .5rem;}

.right {float:right;}

footer {color: #999; font-size: 0.7rem; font-weight:500; border-top:1px solid #999; padding:0.5rem 0; margin-top:2rem; clear:both;}
footer>* {margin:0; padding:0; display:inline-block;}
footer p {padding-bottom:1rem;} 
footer ul.menu  {float:right; list-style:none inside;}
footer ul.menu li {display:inline; padding-left:1rem; margin:0;}

#comments {margin-top:2em;}
.comment-list {margin:0; padding:0;}
.comment {list-style-type:none;border-left:0.2em #444 solid; margin:0.5em 0;}
.comment-body {padding:0.2em 0.5em}
.comment .avatar {display:none;}
.comment-meta {font-size:0.8em; display:inline-block;}
#commentform label {}
#commentform .form-allowed-tags {font-size:0.8em;}
#commentform textarea {width:100%}

@media (min-width: 700px) {
	#postlist {/* float:left; width:25rem;*/}
	#widget-area {float:right; width:13rem; margin-left:1rem; border-left:1px solid #999; padding-left:.9rem}
}

@media (max-width: 600px) {
	h1 {font-size:3rem; }
}

@media (max-width: 400px) {
	nav li {display:block;}
	.featured-img {padding:5rem 0;}
}
